<h1>Log in</h1>

<%= render "shared/errors" %>

<form action="<%= session_url %>" method="POST">

  <%= render "shared/form_auth" %>

  <label for="user_email">Email</label>
  <input type="text"
         name=user[email]
         id="user_email"
         value="<%= @user.email %>">
  <br>

  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password">
  <br>

  <input type="submit" value="Log in">
  <br>
      <h3><a href="<%= new_user_url %>">Sign up!</a></h3>
</form>