<!-- Track Show Page -->

<h1>
  <a href="<%= band_url(@track.band) %>">
    <%= @track.band.name %>
  </a>
</h1>
<h2>
  <a href="<%= album_url(@track.album) %>">
    <%= @track.album.name %>
  </a></h2>

<h3><%= @track.name %></h3>

<textarea><%= @track.lyrics %></textarea>

  <form action="<%= track_url(@track) %>" method="POST">
    <%= render "shared/form_auth" %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this track">
  </form>

<small>
  <a href ="<%= edit_track_url(@track) %>">
    Edit this track
  </a>
</small>

<%= render "notes/form" %>
<%= render "notes/note" %>

<p>
</p>