<!-- Band Show page -->

<h1><%= @band.name %></h1>

<a href="<%= new_band_album_url(@band) %>">Add a new album!</a>
<br>
<br>

<p>
  <% @band.albums.each do |album| %>
  <table>
    <tr><td>
          <a href="<%= album_url(album) %>">
            <big><%= album.name %></big>
          </a>
        </td>
        <td>
          <% if album.recording_style %>
            (<%= album.recording_style.capitalize %>)
          <% end %>
        </td>
    </tr>
  </table>

  <% if album.tracks.count == 0 %>
    <ul><li>No tracks</li></ul>
  <% else %>
    <ul>
      <% album.tracks.each do |track| %>
        <tr><td>
              <li>
                <a href="<%= track_url(track) %>"><%=  track.name %></a>
              </li>
            </td>
        </tr>
      <% end %>
    </ul>
  <% end %>
  </p>
<% end %>

<small>
  <a href="<%= edit_band_url(@band) %>">
    Edit this band
  </a>
  <form action="<%= band_url(@band) %>" method="POST">
    <%= render "shared/form_auth" %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this band">
  </form>
</small>